.header{
  overflow: hidden;

  &__inner{
    display: flex;
  }

  &__image{
    height: 100vh;
    &-photo{
      height: 100%;
      width: 100%;
    }
  }
}

.header__content{
  margin: 70px 0px 60px 100px;
  display: flex;
  flex-direction: column;
  &-logo{
    max-width: 70px;
  }
  &-box{
    margin-top: 50%;
  }
}

.header__box-title{
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 10px;
}

.header__box-text{
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: $gray-size;
  margin-bottom: 40px;
}

.header__box-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  line-height: 24px;
  color: $white;
  padding: 18px 30px;
  background-color: $orange-bg;
  transition: all .5s;
  &:hover{
    background-color: $hover-orange;
    -webkit-box-shadow: -1px 0px 51px 0px rgba(167,37,31,1);
    -moz-box-shadow: -1px 0px 51px 0px rgba(167,37,31,1);
    box-shadow: -1px 0px 51px 0px rgba(167,37,31,1);
    svg{
      transition: all .3s;
      transform: translateX(10px)
    }
  }
}

.header__bottom{
  margin-top: auto;
  display: flex;
  align-items: center;
  &-text{
    color: $gray-size;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
  &-btn{
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    margin-left: 5px;
    color: $orange-size;
    border: 0px;
    transition: all .4s;
    &:hover{
    color: #a7251f;
    }
  }
}

//----------Modal-Animation--------------

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  display: none;
  &__box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    &-title{
      font-size: 30px;
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }
    &-closed{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      svg{
        transition: all 0.2s;
      }
      &:hover{
        svg{
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
        fill: $hover-orange;
        }
      }
    }
  }
}

.modal__form-user {
  position: relative;
  margin-bottom: 30px;
}

.modal__form-user input {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.modal__form-user label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.modal__form-user input:focus ~ label,
.modal__form-user input:valid ~ label {
  top: -20px;
  left: 0;
  color: $orange-bg;
  font-size: 16px;
}

.modal__form-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $orange-size;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.modal__form-btn:hover {
  background: $orange-bg;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px $orange-bg,
              0 0 25px $orange-bg,
              0 0 50px $orange-bg,
              0 0 100px $orange-bg;
}

.modal__form-btn span {
  position: absolute;
  display: block;
}

.modal__form-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $orange-bg);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.modal__form-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $orange-bg);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.modal__form-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $orange-bg);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.modal__form-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $orange-bg);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}