$white: #fff;
$black: #000;

//Colors fs

$blue-size: #051655;
$gray-size: #747887;
$orange-size: #C35B48;

//Colors Bg

$gray-bg: #F3F6F9;
$orange-bg: #EB3D35;
$hover-orange: #a7251f;
$hover-gray: #ddd;

$linegray: #E5E4E1;
$lineblue: #051655;;